@media (max-width: 490px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 1rem;
    }

    nav .logo {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    nav ul {
        flex-direction: column;
        gap: 12px;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        font-size: 1.2rem;
    }
}

@media (max-width: 550px) {
    .card-gallery {
      flex-direction: column;
      gap: 2rem;
      height: auto;
      justify-content: center;
    }
    main{
        padding: 0;
    }
  
    .card {
    
      
    
      flex-basis: 100%;
      padding-top: 1rem;
    }
  
    section {
      height: auto; 
    }
.footer-content{
    width: 100%;
    padding-top: 5rem;
}
   
    .footer-content .text-footer{
       
   font-size: 20px;
      }
      .footer-content .text-footer-small{
        font-size: 19px;
        
    }
    
  }
  
